.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Playpen Sans', cursive;
  color: #216d65;
  background: linear-gradient(
    135deg,
     rgba(254, 74, 73, 1) 0%,
     rgba(254, 74, 73, 1) 50%, 
     rgba(0, 159, 183,1) 50%,
     rgba(0, 159, 183, 1) 100%
     );
}